@import '../../assets/styles/color_variables';
@import '../../assets/styles/mixins';

$tab: 768px;

label {
    @include media-min-width($tab) {
        display: flex;
        align-items: center;
    }
}

.field {
    margin: 15px 0 30px;

    &--name {
        flex-basis: 70px;
        font-weight: bold;

        &-select {
            flex-basis: 210px;
        }
    }
}

input, select {
    border: 1px solid $borderGray;
    border-radius: 5px;
    display: block;
    height: 47px;
    line-height: 2.8125rem;
    margin-top: 5px;
    padding: 0 10px;
    transition: border 0.1s ease;
    width: 100%;

    &:focus, &:active {
        outline: none;
        border: 1px solid $buttonBlue;
    }

    @include media-min-width($tab) {
        margin-top: 0;
    }
}
