@mixin media-min-width($size) {
    @media (min-width: $size) {
        @content;
    }
}

@mixin button-treatment {
    background: $buttonBlue;
    border: none;
    color: $white;
    max-width: 140px;
    transition: background 0.3s ease;

    &:hover, &:focus, &.active {
        background: darken($buttonBlue, 10%);
    }

    &.disabled {
        background: black;
    }
}
