@mixin media-min-width($size) {
    @media (min-width: $size) {
        @content;
    }
}

@mixin button-treatment {
    background: $buttonBlue;
    border: none;
    color: $white;
    max-width: 140px;
    transition: background 0.3s ease;

    &:hover, &:focus {
        background: darken($buttonBlue, 10%);
    }
}

$in-out-quad:  cubic-bezier(0.455, 0.030, 0.515, 0.955);
